/* this style doesn't work when you set the react checkbox programmatically, but leaving it for the cool factor */
tbody tr:has(input:is(:checked)) {
  background-color: #ddd;
}
.active {
  background-color: #ddd;
}
tbody tr:hover {
  background-color: #eee;
}
tbody tr td:last-child {
  text-transform: capitalize;
}
.available {
  background: #93CF50;
  border-radius: 50%;
  display: inline-block;
  height: 15px;
  margin-left: -25px;
  margin-right: 10px;
  width: 15px;
}